[submodule "eip5484/lib/forge-std"]
	path = eip5484/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "eip5484/lib/openzeppelin-contracts"]
	path = eip5484/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
